*.o
*~
.autotools
.cproject
.deps/
.project
.rsyncs
ABOUT-NLS
Makefile
Makefile.in
\#*#
aclocal.m4
autobuild/
autom4te.cache
build*
build*/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.lineno
cscope.out
depcomp
dox/
fetchmail
fetchmailconf
genlsm.sh
install-sh
libfm.a
m4/
missing
mkinstalldirs
netrc
po/Makefile
po/POTFILES
po/stamp-po
py-compile
rcfile_l.c
rcfile_y.c
rcfile_y.h
rfc2047e
rfc822
rfc822valid
stamp-h1
tags
unmime
x509_name_match
ylwrap
FAQ
FEATURES
IMAPCapa
Mailbox-Names-UTF7.html
NOTES
TODO
config.cache
fetchmail-*.tar.xz
fetchmail-FAQ.pdf
fetchmail-man.html
fetchmail.spec
po/remove-potcdate.sed
