*~
\#*#
ABOUT-NLS
aclocal.m4
autobuild/
autom4te.cache
.autotools
build*
build*/
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.lineno
.cproject
cscope.out
depcomp
.deps/
dox/
FAQ
FEATURES
fetchmail
fetchmailconf
fetchmail-FAQ.pdf
fetchmail-man.html
fetchmail.spec
fetchmail-*.tar.*
fetchmail-*.tar.xz
genlsm.sh
IMAPCapa
install-sh
libfm.a
m4/
Mailbox-Names-UTF7.html
Makefile
Makefile.in
missing
mkinstalldirs
mxget
netrc
NOTES
*.o
po/Makefile
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
.project
py-compile
rcfile_l.c
rcfile_y.c
rcfile_y.h
rfc2047e
rfc822
rfc822valid
.rsyncs
stamp-h1
tags
TODO
unmime
x509_name_match
ylwrap
